<script>

    $(document).ready(function(){
        $("button").click(function() {
            $("p:hidden").toggle();
         });
    });

// $(document).ready(function(){

// $("button").click(function() {

// $('p.hide").toggle():

// }):

// $(document).ready(function(K

// $("button").click(function() { $p:hide").toggle():

// 12:

// $(document).ready(function()

// $("button").click(function()

// Si phide") Toggle

</script>

<p class="hide">jQuery is a cross-platform JavaScript library designed to simplify the client-side scripting of HTML</h2>

<p class="hide"> Query is the most popular JavaScript library in use today, with installation on 65% of the top 10 million highest-trafficked sites on the Web.jQuery is free, open-source software licens License</p>

<p>Query's syntax is designed to make it easier to navigate a document, select DOM elements, create animations, handle events, and develop Ajax applications. </p>

<p class="visible">Query also provides capabilities for developers to create plug-ins on top of the JavaScript library. This enables developers to create abstractions for low-level interaction and anima
effects, and high-level, theme-able widgets </p>

<p class="visible"> Microsoft and Nickis bundle jQuery on their platforms.[7] Microsoft indudes it with Visual Studio(8) for use within Microsoft's ASP.NET AJAX and ASP.NET MVC frameworks while Nic into the Web Run-Time widget development platform(9) Query has also been used in MediaWild since version 1.16.[10]</p>

<p class = "hide">desonide fury core is DOS (Document Object Model) manipulation library. The DOM is a tree structure representation of all the elements of a Web page and jQuery simplifies the sy selecting, and mangulating these DOM elements. For example, Query can be used for finding an element in the document with a certain property leg all elements with an ht cagl changing one or m jeg color vability or making crespond to en mentega mouse de</p>

<button>Toggle</button>
